## Client
# Logs
nu-queuing-client/logs
nu-queuing-client/*.log
nu-queuing-client/npm-debug.log*
nu-queuing-client/yarn-debug.log*
nu-queuing-client/yarn-error.log*
nu-queuing-client/pnpm-debug.log*
nu-queuing-client/lerna-debug.log*

nu-queuing-client/node_modules
nu-queuing-client/dist
nu-queuing-client/dist-ssr
nu-queuing-client/*.local

# Editor directories and files
nu-queuing-client/.vscode/*
nu-queuing-client/!.vscode/extensions.json
nu-queuing-client/.idea
nu-queuing-client/.DS_Store
nu-queuing-client/*.suo
nu-queuing-client/*.ntvs*
nu-queuing-client/*.njsproj
nu-queuing-client/*.sln
nu-queuing-client/*.sw?

## Server
# Logs
nu-queuing-server/logs
nu-queuing-server/*.log
nu-queuing-server/npm-debug.log*
nu-queuing-server/yarn-debug.log*
nu-queuing-server/yarn-error.log*
nu-queuing-server/pnpm-debug.log*
nu-queuing-server/lerna-debug.log*

nu-queuing-server/node_modules

# Editor directories and files
nu-queuing-server/.vscode/*
nu-queuing-server/!.vscode/extensions.json
nu-queuing-server/.idea
nu-queuing-server/.DS_Store
nu-queuing-server/*.suo
nu-queuing-server/*.ntvs*
nu-queuing-server/*.njsproj
nu-queuing-server/*.sln
nu-queuing-server/*.sw?